/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 100px;
  font-family: var(--main-font);
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  font-variation-settings: 'wght' var(--main-text-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
}

.block-width {
  inline-size: var(--block-width);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-end: 46px;
  border: 2px solid #000;
  padding: 129px;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__logo {
  font-size: var(--header-logo-size);
}

.header__title {
  font-size: var(--header-title-size);
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
  font-family: var(--main-font);
  font-size: 18px;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #000;
  background-color: #fff;
}

.card__title {
  margin-inline-start: 10px;
  margin-block-start: 4px;
  margin-block-end: 2px;
  font-size: 18px;
  font-variation-settings: 'wght' var(--header-text-weight);
}

.card__image-container {
  position: relative;
  /* mix-blend-mode: hard-light; */
  border-block-start: 2px solid #000;
  border-block-end: 2px solid #000;
}

.card-image {
  display: block;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 / 1;
}

.logo {
  position: absolute;
  top: 30px;
  right: 25px;
  z-index: 1;
  border: none;
  opacity: 50%;
  color: #000;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow: 
  -1px 0 #fff,
  0 1px #fff,
  1px 0 #fff,
  0 -1px #fff;
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .logo {
    text-shadow: none;
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
  }
}

.card__description {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  padding-block-start: 26px;
}

.card__text {
  line-height: 1.16;
}

.button-container {
  display: flex;
  justify-content: end;
  gap: 9px;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: 2px solid #000;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.card__icon-button {
  border: none;
  outline: none;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: 2px solid #000;
}

.save-button {
  gap: 8px;
  padding: 16px 20px;
  background-color: var(--bg-color);
}

.button svg {
  position: relative;
  z-index: 2;
  stroke: var(--bg-color);
  inline-size: 21px;
  block-size: 21px;
  mix-blend-mode: difference;
}

.menu-dialog {
  border: 2px solid #000;
  padding: 26px;
  font-family: var(--accent-font);
  max-inline-size: 353px;
}

.menu-dialog[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.menu-dialog[open]::backdrop {
  opacity: 75%;
  background-color: #000;
}

.dialog-container {
  display: flex;
  gap: 20px;
}

.dialog-container svg {
  width: 59px;
  height: 59px;
}

.dialog-button {
  padding-block-start: 12.5px;
  padding-block-end: 12.5px;
  outline: 2px solid #000;
}

.dialog-text {
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.button__text {
  position: relative;
  z-index: 2;
  color: var(--text-color);
  font-family: var(--accent-font);
  font-size: 14px;
  mix-blend-mode: difference;
}

.dialog-button .button__text {
  text-transform: uppercase;
}

.button:focus {
  box-shadow: 2px 2px 0 2px #000;
  outline: 2px solid #000;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: #000;
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.button:hover::before {
  transform: scaleX(1);
}

.filter-brightness {
  filter: brightness(150%);
}

.filter-contrast {
  filter: contrast(120%);
}

.filter-blur {
  filter: blur(0.4rem);
}

.filter-saturate {
  filter: saturate(120%);
}

.filter-grayscale {
  filter: grayscale(80%);
}

.filter-opacity {
  filter: opacity(80%);
}

.filter-hue-rotate {
  filter: hue-rotate(90deg);
}

.filter-mult {
  filter: opacity(90%) brightness(120%) saturate(50%);
}

.like-icon {
  cursor: pointer;
}

.sparks {
  fill: transparent;
}

.contour {
  transition: fill 0.1s linear;
}

.like-icon.is-liked .contour {
  fill: var(--heart-color-active);
  transition: fill 0.3s linear;
  transition-delay: 0.06s;
}

.core {
  transition: fill 0.3s linear;
  transition-delay: 0.03s;
}

.like-icon:hover .core {
  fill: var(--heart-color-hover);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--heart-color-active);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.like-icon.is-liked .core {
  fill: var(--heart-color-active);
  transition: fill 0.3s linear;
  transition-delay: 0s;
}

.main-body {
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--heart-color-hover);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon:active .main-body {
  fill: var(--heart-color-active);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

.like-icon.is-liked .main-body {
  fill: var(--heart-color-active);
  transition: fill 0.3s linear;
  transition-delay: 0.05s;
}

@media (width <= 375px) {
  .header {
    padding: 122px;
  }

  .card__description {
    padding: 25px 25px 22px;
  }

  .save-button {
    flex-direction: column;
  }

  .menu-dialog {
    max-inline-size: 341px;
  }
}