/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter', sans-serif;
  --accent-font: 'PressStart2P', sans-serif;
  --main-text-weight: 410;
  --header-text-weight: 715;
  --bg-gradient: 
      repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
      repeating-linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
  --bg-color: #fff;
  --text-color: #fff;
  --block-width: clamp(375px, 100%, 700px);
  --header-logo-size: clamp(49px, calc(49px + (65px - 49px) *((100vw - 375px) / (1440px - 375px))), 65px);
  --header-title-size: clamp(14px, calc(14px + (23px - 14px) * ((100vw - 375px) / (1440px - 375px))), 23px);
  --contour-color: #000;
  --heart-color-active: #ff0000;
  --heart-color-hover: #000;
}